doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    // link(rel='icon', href='#{pathToAssets}/docs/favicon.ico')
    title Nightlife App
    // Bootstrap core CSS
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/public/css/main.css', rel='stylesheet')
    script(src="https://use.fontawesome.com/b596fcf896.js")
  body
    // Fixed navbar
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Nightlife App
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/') Home
            li: a(href='/login') Login
            li: a(href='/logout') Logout
        // /.nav-collapse